@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: white !important;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

:root {
  --programmer-width: 0vw;
  --graphic-width: 0vw;
  --editor-speed: 1s
}

#battlefield {
  border: 2px solid black;
  position: relative;
  border-width: 0 2px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 600ms ease-in-out;
}

#programmer {
  width: var(--programmer-width);
  background-color: #1b1b1b;
}

.nav {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.nav .menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
}
.nav i {
  color: #E70033;
  font-size:  40px;
}
.nav .menu i:nth-child(1) {
  color: #1AE51A
}
.nav .menu i:nth-child(2) {
  color: #E70033
}
.nav .menu i:nth-child(3) {
  color: #FF982B
}
.nav .menu img {
  width: 40px;
  height: 40px;
}

#graphic {
  width: var(--graphic-width);
}

#programmer, #graphic {
  transition: width var(--editor-speed) ease-out;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

#canvas svg {
  width: 100%;
  max-width: 100%;
  max-height: 750px;
}

#canvas svg path {
  fill: none;
  stroke: #1d1d1b;
  stroke-dasharray: var(--path-len);
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dashoffset: var(--path-len);
}
#canvas svg.drawing path {
  animation: draw var(--anim-dur) linear forwards;
}

@keyframes draw {
  0% {
    stroke-dashoffset: var(--path-len);
  }
  100% {
    stroke-dashoffset: 0;
  }
}

code {
  counter-reset: section;
  font-size: 38px;
  line-height: 2;
}

code p::before {
  counter-increment: section;
  content: counter(section) " ";
  display: inline-block;
  border-right: 2px solid rgb(109 40 217);
  padding-right: 5px;
  margin-right: 5px;
  width: 30px;
}

code span.class {
  color: #36ac08;
}
code span.method {
  color: #73c991;
}
code span.this {
  color: #d7ba7d;
}
code span.prop {
  color: #9cdcfe;
}
code span.const {
  color: #c586c0;
  font-style: italic;
}
code span.str {
  color: #ffbb29;
}
code span.key {
  color: #569cd6;
}
code span.purple {
  color: #a211c7;
}

.teleportable.teleporting {
  transform-origin: center center;
  transition: 500ms ease-in;
  transition-property: transform;
  transform: scale(0) rotate(270deg);
}

#status {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 500;
}

#app.shaking {
  animation: shake 1000ms ease-in;
}

@keyframes shake {
  0%{
    transform: translate(0);
  }
  20%,
  40%,
  60%,
  80%{
    transform: translate(.8em) rotate(6deg);
  }
  10%,
  30%,
  50%{
    transform: translate(-.2em) rotate(-4deg);
  }
  70%,
  100%{
    transform: translate(0);
  }
}

#battlefield > svg#ground {
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#battle {
  position: relative;
  z-index: 1;
}
#battle > svg {
  position: absolute;
  opacity: 0;
}
#battle > svg.show {
  opacity: 1;
}

#knight_prog_1 .spear {
  transform-origin: 32% 56%;
}
#knight_prog_1.drop .spear {
  transform: rotate(57deg);
}

#knight_graf_1 .spear {
  transform-origin: 66% 57%;
}
#knight_graf_1.drop .spear {
  transform: rotate(-69deg);
}

#knight_prog_1 .spear, #knight_graf_1 .spear {
  transition: transform 500ms cubic-bezier(1,0,.75,1);
}

#knight_prog_3 .sword {
  transform-origin: 20% 49%;
}
#knight_graf_4 .sword {
  transform-origin: 80% 50%;
}

#battlefield.zoomed {
  transform: scale(1.5);
}

#battlefield.jump #knight_prog_3 {
  animation: jumpProg 500ms ease-out forwards;
}
#battlefield.jump #knight_graf_4 {
  animation: jumpGraf 500ms ease-out forwards;
}
@keyframes jumpProg {
  0% {
    right: 75px;
    bottom: -235px;
  }
  40% {
    right: 50px;
    bottom: -165px;
  }
  100% {
    right: -25px;
    bottom: -235px;
  }
}
@keyframes jumpGraf {
  0% {
    left: 0;
    bottom: -230px;
  }
  40% {
    right: -25px;
    bottom: -160px;
  }
  100% {
    left: -100px;
    bottom: -230px;
  }
}

#battlefield.fight #knight_graf_4 {
  animation: fightGraf 6s linear forwards;
}

#battlefield.fight #knight_prog_3 .sword {
  animation: fightProgSword 6s linear forwards;
}
#battlefield.fight #knight_graf_4 .sword {
  animation: fightGrafSword 6s linear forwards;
}

@keyframes fightGraf {
  0% {
    z-index: 0;
    left: -100px;
    bottom: -230px;
  }
  8% {
    z-index: 1;
  }
  20% {
    z-index: 0;
  }
  45% {
    z-index: 1;
  }
  53% {
    z-index: 0;
  }
  70% {
    z-index: 1;
  }
  74% {
    z-index: 0;
  }
  93% {
    z-index: 1;
  }
  100% {
    z-index: 1;
    left: -100px;
    bottom: -230px;
  }
}

@keyframes fightProgSword {
  0% {
    transform: rotate(0deg);
  }
  8% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(10deg);
  }
  34% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(0deg);
  }
  45% {
    transform: rotate(-10deg);
  }
  53% {
    transform: rotate(3deg);
  }
  62% {
    transform: rotate(-12deg);
  }
  70% {
    transform: rotate(0deg);
  }
  74% {
    transform: rotate(8deg);
  }
  84% {
    transform: rotate(-6deg);
  }
  93% {
    transform: rotate(-12deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes fightGrafSword {
  0% {
    transform: rotate(0deg);
  }
  8% {
    transform: rotate(-6deg);
  }
  20% {
    transform: rotate(5deg);
  }
  34% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(0deg);
  }
  45% {
    transform: rotate(-10deg);
  }
  53% {
    transform: rotate(8deg);
  }
  62% {
    transform: rotate(-6deg);
  }
  70% {
    transform: rotate(0deg);
  }
  74% {
    transform: rotate(12deg);
  }
  84% {
    transform: rotate(2deg);
  }
  93% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#battlefield.fightend:not(.flooding) #knight_prog_3 {
  right: -25px;
  bottom: -235px;
}
#battlefield.fightend #knight_graf_4 {
  left: -100px;
  bottom: -230px;
}


#water-back {
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0) scale(1.05);
  animation: wave ease-in-out 8s infinite;
}
#water-front {
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0) scale(1.05);
  animation: wave2 ease-in-out 6s infinite;
  z-index: 5;
}

@keyframes wave {
  0% {
    transform: translate(-50%, -10px) scale(1.05);
  }
  25% {
    transform: translate(-50%, 10px) scale(1.05);
  }
  65% {
    transform: translate(-50%, 20px) scale(1.05);
  }
  100% {
    transform: translate(-50%, -10px) scale(1.05);
  }
}

@keyframes wave2 {
  0% {
    transform: translate(-50%, 10px) scale(1.05);
  }
  25% {
    transform: translate(-50%, -10px) scale(1.05);
  }
  65% {
    transform: translate(-50%, -20px) scale(1.05);
  }
  100% {
    transform: translate(-50%, 10px) scale(1.05);
  }
}



#battlefield.flood:not(.flooding) #knight_prog_3 {
  bottom: -430px !important;
}
#battlefield.flooding #knight_prog_3 {
  right: -25px !important;
  animation: fall 4000ms cubic-bezier(0,0,.5,1) forwards;
  transform-origin: bottom center;
}
#battlefield.flood #knight_graf_4 {
  left: -100px !important;
  bottom: -445px !important;
}

@keyframes fall {
  0% {
    bottom: -430px;
    transform: rotate(0deg);
  }
  15% {
    transform: scaleX(-1);
  }
  30% {
    transform: scaleX(1);
  }
  40% {
    bottom: -430px;
    transform: rotate(0deg);
  }
  50% {
    bottom: -380px;
  }
  100% {
    bottom: -655px;
    transform: rotate(-50deg);
  }
}